* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: lightgrey;
  transition: all ease-in 0.3s;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-top: 12px;
}

li {
  padding-bottom: 5px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
}
.header .yellow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.header .yellow img {
  width: 100%;
  height: auto;
  display: block;
}
.header .container .row .logo {
  margin-top: 10px;
}
.header .container .row .logo img {
  width: 80px;
}
.header .container .row .nav {
  padding-left: 20px;
  padding-top: 30px;
}
@media only screen and (max-width: 992px) {
  .header .container .row .nav {
    display: none;
  }
}
.header .container .row .nav .nav-bar {
  padding-top: 15px;
}
.header .container .row .nav .nav-bar a {
  text-decoration: none;
  color: #181818;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-right: 30px;
}
.header .container .row .nav .nav-bar a:hover {
  color: #b61984;
  transition: all 0.3s;
}
.header .container .row .nav .social {
  padding-top: 10px;
}
.header .container .row .nav .social .btn {
  background-color: #b61984;
  border-radius: 20px;
  margin-right: 20px;
}
.header .container .row .nav .social .btn a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  padding: 20px 14px;
}
.header .container .row .nav .social .btn:hover {
  background-color: #fff;
  border-color: #b61984;
  transition: ease-out 0.5s;
}
.header .container .row .nav .social .btn:hover a {
  color: #b61984;
}
.header .container .row .nav .social a {
  color: #181818;
  font-size: 14px;
  text-decoration: none;
  margin-right: 8px;
}
.header .container .row .nav .social a:hover {
  color: #b61984;
  transition: all 0.3s;
}
.header .container .row .toggle {
  padding-top: 45px;
  display: none;
}
@media only screen and (max-width: 992px) {
  .header .container .row .toggle {
    display: block;
  }
}

.hero {
  position: relative;
  z-index: -1;
}
.hero .container .row {
  position: relative;
  margin-top: 150px;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .hero .container .row .about {
    text-align: center;
  }
}
.hero .container .row .about h3 {
  padding-top: 25%;
  color: #b61984;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.hero .container .row .about h1 {
  font-weight: 700;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #181818;
}
@media only screen and (max-width: 992px) {
  .hero .container .row .image {
    transform: translateX(10%);
    overflow: hidden;
  }
}
.hero .container .row .image img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.hero .purple {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.hero .purple img {
  width: 100%;
  height: auto;
  display: block;
}

.cards {
  position: relative;
  background-color: #dcd1f3;
}
.cards .white {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.cards .white img {
  width: 100%;
  height: auto;
  display: block;
}
.cards .container {
  padding-top: 50px;
}
.cards .container .row {
  position: relative;
  padding: 20px 80px 0 80px;
  z-index: 1;
}
.cards .container .row .col {
  padding: 0 20px;
}
.cards .container .row .col .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.cards .container .row .col .card-info img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cards .container .row .col .card-info .main {
  height: 50%;
  text-align: center;
}
.cards .container .row .col .card-info .main h4 {
  margin: 15px 0;
  font-size: 0.75rem;
  margin-bottom: 0.7em;
  color: #b61984;
  font-family: "Montserrat", sans-serif;
}
.cards .container .row .col .card-info .main h2 {
  margin: 15px 0;
  font-size: 1.55rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.cards .container .row .col .card-info .main p {
  margin: 15px 0;
}
.cards .container .row .col .card-info:hover {
  transition: all 0.7s;
  box-shadow: 0px 10px 50px -7px darkgray, 5px 5px 15px 5px rgba(205, 205, 205, 0);
}

.contact {
  position: relative;
  z-index: 0;
}
.contact .container .row {
  margin-top: 90px;
}
@media only screen and (max-width: 992px) {
  .contact .container .row .col1 {
    transform: translateX(10%);
  }
}
.contact .container .row .col1 img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.contact .container .row .col2 {
  padding: 0 50px;
}
.contact .container .row .col2 .frm-content {
  background-color: #fff;
  box-shadow: 0px 5px 16px 0px lightgrey, 0px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 15px;
}
.contact .container .row .col2 .frm-content .frm-content-header {
  padding-top: 30px;
}
.contact .container .row .col2 .frm-content .frm-content-header h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row {
  margin-bottom: 25px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .name {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 20px;
  height: 50px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .name .icon {
  margin-right: 5px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .name .icon i {
  color: #b61984;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .name .nameInput input {
  border: none;
  outline: none;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .mail {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 20px;
  height: 50px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .mail .icon {
  margin-right: 5px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .mail .icon i {
  color: #b61984;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .row .mail .mailInput input {
  border: none;
  outline: none;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group2 {
  margin-bottom: 25px;
  padding: 0 10px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group2 .language {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 20px;
  height: 50px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group2 .language .icon {
  margin-right: 5px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group2 .language .icon i {
  color: #b61984;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group2 .language .languageInput input {
  border: none;
  outline: none;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group3 {
  margin-bottom: 25px;
  padding: 0 10px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group3 .message {
  padding: 5px 10px;
  border: solid 1px lightgrey;
  border-radius: 20px;
  height: 100px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group3 .message .icon {
  margin-right: 5px;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group3 .message .icon i {
  color: #b61984;
}
.contact .container .row .col2 .frm-content .frm-content-body .frm .frm-group3 .message .messageInput input {
  border: none;
  outline: none;
}
.contact .container .row .col2 .frm-content .frm-content-footer {
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 50px;
}
.contact .container .row .col2 .frm-content .frm-content-footer .btn {
  background-color: #b61984;
  border-radius: 20px;
  margin-right: 20px;
  width: 30%;
}
.contact .container .row .col2 .frm-content .frm-content-footer .btn a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  padding: 20px 14px;
}
.contact .container .row .col2 .frm-content .frm-content-footer .btn:hover {
  background-color: #fff;
  border-color: #b61984;
  transition: ease-out 0.5s;
}
.contact .container .row .col2 .frm-content .frm-content-footer .btn:hover a {
  color: #b61984;
}
.contact .container .row .col2 .frm-content .frm-content-footer a {
  color: #181818;
  font-size: 14px;
  text-decoration: none;
  margin-right: 8px;
}
.contact .container .row .col2 .frm-content .frm-content-footer a:hover {
  color: #b61984;
  transition: all 0.3s;
}
.contact .pink {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.contact .pink img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  background-image: url(../../images/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer .container .row {
  padding: 80px 50px;
}
.footer .container .row .col1 h3 {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.footer .container .row .col1 li {
  padding-bottom: 15px;
}
.footer .container .row .col1 li i {
  color: #fff;
  margin-right: 5px;
  font-size: 15px;
}
.footer .container .row .col1 li span {
  font-size: 15px;
  color: #fff;
}
.footer .container .row .col2 h3 {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.footer .container .row .col3 h3 {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.footer .container .row .col4 h3 {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.footer .container .row .col4 .row {
  padding: 40px;
}
.footer .container .row .col4 .row input {
  border-radius: 20px;
  border: none;
  background-color: transparent;
  height: 45px;
}
.footer .container .row .col4 .row input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.footer .container .row .col4 .row .btn {
  border-radius: 20px;
  margin-top: 10px;
  background-color: #fff;
  height: 45px;
}
.footer .container .row .col4 .row .btn a {
  color: #181818;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.footer .container .row .col4 .row .btn:hover {
  color: #fff;
  background: #b61984;
  transition: ease-out 0.5s;
  border-color: #fff;
}
.footer .container .row .col4 .row .btn:hover a {
  color: #fff;
}