* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover{
    color: lightgrey;
    transition: all ease-in 0.3s;
  }
}
ul {
  list-style: none;
  padding-left: 0;
  padding-top: 12px;
}
li {
  padding-bottom: 5px;
}
// textarea:focus, input:focus{
//   outline: none;
// }
